<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia clínica de lentes de contacto</title>
    <link rel="stylesheet" href="/styles/clinicHistoryLentes/clinicHistoryLentes.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <aside id="sidebar">
        <ul>

            <li>
                <img src="/assets/image/Digi-Optic.jpeg" class="logo">
            </li>

            <li>
                <a href="" id="exit">Volver al menú principal</a>
            </li>

            <li>
                <a href="#datosPersonales">Datos personales</a>
            </li>
            <li>
                <a href="#anamnesis">Anamnesis</a>
            </li>
            <li>
                <a href="#lentesUso">Lentes en uso</a>
            </li>
            <li>
                <a href="#queratometria">Queratometria</a>
            </li>
            <li>
                <a href="#tipoDeCaso">Tipo de caso a tratar</a>
            </li>
            <li>
                <a href="#resultadosTopografia">Resultados de topografía</a>
            </li>

            <li>
                <a href="#biomicroscopia">Biomicroscopía</a>
            </li>

            <li>
                <a href="#observacione">Observaciones</a>
            </li>

            <li>
                <a href="#lentesPrueba">Lentes de prueba</a>
            </li>

            <li>
                <a href="#sobreRefraccion">Sobre-refacción</a>
            </li>

            <li>
                <a href="#sobreSubjetivo">Sobre-subjetivo</a>
            </li>

            <li>
                <a href="#fluorograma">Fluorograma</a>
            </li>

            <li>
                <a href="#lenteSolicitar">Lente a solicitar</a>
            </li>

            <li>
                <a href="#control">Control</a>
            </li>

        </ul>
    </aside>
    <header>
        <h1 class="title">HISTORIA CLÍNICA DE LENTES DE CONTACTO</h1>
    </header>
    <section class="main">

        <div class="container">
            <h2 id="datosPersonales">DATOS PERSONALES</h2>
            <div class="form1">
                <div class="box1">
                    <div>
                        <label>Fecha:</label>
                        <input type="date" id="fecha" readonly>
                    </div>
                    <div>
                        <label>Identificación:</label>
                        <label>Tipo</label>
                        <select id="identificacion" disabled>
                            <option value="0">Seleccione una opción</option>
                            <option value="C.C">C.C</option>
                            <option value="T.I">T.I</option>
                        </select>
                    </div>
                    <div>
                        <label>Número</label>
                        <input type="number" id="numero" readonly>
                    </div>

                </div>
                <div class="box3">
                    <div>
                        <label>Apellidos</label>
                        <input type="text" id="apellidos" readonly>
                    </div>
                    <div>
                        <label>Nombres</label>
                        <input type="text" id="nombres" readonly>
                    </div>
                </div>
                <div class="box4">
                    <div>
                        <label>Género</label>
                        <select id="genero">
                            <option vlaue="0">Seleccione una opción</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                    <div>
                        <label>Fecha de nacimiento</label>
                        <input type="date" id="fechaNacimiento" readonly>
                    </div>
                    <div>
                        <label>Edad</label>
                        <input type="number" id="edad" readonly>
                    </div>
                </div>
                <div class="box5">
                    <div>
                        <label>Procedencia</label>
                        <input type="text" id="procedencia" readonly>
                    </div>
                    <div>
                        <label>Ocupación</label>
                        <input type="text" id="ocupacion" readonly>
                    </div>
                </div>
                <div class="box6">
                    <div>
                        <label>Dirección de residencia</label>
                        <input type="text" id="direccionResidencia" readonly>
                    </div>
                    <div>
                        <label>Barrio</label>
                        <input type="text" id="barrio" readonly>
                    </div>
                    <div>
                        <label>Teléfono</label>
                        <input type="tel" id="telefono" readonly>
                    </div>
                </div>
                <div class="box7">
                    <div>
                        <label>Localidad</label>
                        <input type="text" id="localidad" readonly>
                    </div>
                    <div>
                        <label>Código</label>
                        <input type="number" id="codigo" readonly>
                    </div>
                    <div>
                        <label>Procedencía:</label>
                        <select id="procedencia2" disabled>
                            <option value="0">Seleccione una opción</option>
                            <option value="Urbano">Urbano</option>
                            <option value="Rural">Rural</option>
                        </select>
                    </div>
                </div>
                <div class="box9">
                    <div>
                        <label>Acompañante</label>
                        <input type="text" id="acompañante" readonly>
                    </div>
                    <div>
                        <label>Parentesco</label>
                        <input type="text" id="parentesco2" readonly>
                    </div>
                    <div>
                        <label>Teléfono</label>
                        <input type="tel" id="telefono2" readonly>
                    </div>
                </div>
                <div class="box11">
                    <div>
                        <label>Fecha último control</label>
                        <input type="date" id="fechaUltimoControl" readonly>
                    </div>
                    <div>
                        <label>EPS</label>
                        <input type="text" id="eps" readonly>
                    </div>
                    <div>
                        <label>Tipo afiliación</label>
                        <input type="text" id="tipoAfiliacion" readonly>
                    </div>
                </div>
            </div>


            <h2 id="anamnesis">ANAMNESIS</h2>
            <div class="form2">
                <div class="box12">
                    <div>
                        <label>Motivo de consulta: </label>
                        <textarea id="motivoConsulta" readonly></textarea>

                    </div>
                </div>
            </div>

            <h2 id="lentesUso">LENTES EN USO</h2>
            <div class="form3">
                <table>
                    <tr>
                        <td></td>
                        <td colspan="3">VISIÓN LEJANA</td>
                        <td></td>
                        <td colspan="3">VISIÓN PRÓXIMA</td>
                        <td></td>
                        <td>MATERIAL<input id="material" readonly></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>ESFERA</td>
                        <td>CILINDRO</td>
                        <td>EJE</td>
                        <td>AV</td>
                        <td>ESFERA</td>
                        <td>CILINDRO</td>
                        <td>EJE</td>
                        <td>AV</td>
                        <td>TIPO DE LENTE<input id="tipoLente" readonly></td>
                    </tr>
                    <tr>
                        <td>O.D</td>
                        <td><input id="lejanaEsferaOD" readonly></td>
                        <td><input id="lejanaCilindroOD" value="-" readonly></td>
                        <td><input id="lejanaEjeOD" readonly></td>
                        <td><input id="lejanaAVOD" value="20/" readonly></td>
                        <td><input id="proximaEsferaOD" readonly></td>
                        <td><input id="proximaCilindroOD" value="-" readonly></td>
                        <td><input id="proximaEjeOD" readonly></td>
                        <td><input id="proximaAVOD" value="20/" readonly></td>
                        <td>FILTRO<input id="filtro" readonly></td>
                    </tr>
                    <tr>
                        <td>O.I</td>
                        <td><input id="lejanaEsferaOI" readonly></td>
                        <td><input id="lejanaCilindroOI" value="-" readonly></td>
                        <td><input id="lejanaEjeOI" readonly></td>
                        <td><input id="lejanaAVOI" value="20/" readonly></td>
                        <td><input id="proximaEsferaOI" readonly></td>
                        <td><input id="proximaCilindroOI" value="-" readonly></td>
                        <td><input id="proximaEjeOI" readonly></td>
                        <td><input id="proximaAVOI" value="20/" readonly></td>
                        <td>DOS PARES<input id="dosPares" readonly></td>
                    </tr>
                </table>
            </div>

            <div class="queratometriaCaso">
                <h2 id="queratometria">QUERATOMETRÍA</h2>
                <h2 id="tipoDeCaso">TIPO DE CASO A TRATAR</h2>
                <div class="form11">
                    <div class="box28">
                        <div>
                            <label>O.D.</label>
                            <input type="text" id="queratometriaOD" readonly>
                        </div>
                        <div>
                            <label>O.I.&nbsp</label>
                            <input type="text" id="queratometriaOI" readonly>
                        </div>
                    </div>
                </div>

                <div class="form12">
                    <div class="box29">
                        <div>
                            <label>Tipo de caso a tratar: </label>
                            <input type="text" id="tipoCaso" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="resultadosBiomicroscopia">
                <h2 id="resultadosTopografia">RESULTADOS DE TOPOGRAFÍA</h2>
                <h2 id="biomicroscopia">BIOMICROSCOPÍA</h2>
                <div class="form11">
                    <div class="box19">
                        <div class="box_sub_19_1">
                            <label>O.D.</label>
                            <textarea id="topografiaOD" readonly></textarea>
                        </div>
                        <div class="box_sub_19_2">
                            <label>O.I.</label>
                            <textarea id="topografiaOI" readonly></textarea>
                        </div>
                    </div>
                </div>

                <div class="form11">
                    <div class="box19">
                        <div class="box_sub_19_1">
                            <label>O.D.</label>
                            <textarea id="descripcionBiomicroscopiaOD" readonly></textarea>
                        </div>
                        <div class="box_sub_19_2">
                            <label>O.I.</label>
                            <textarea id="descripcionBiomicroscopiaOI" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <h2 id="observacione">OBSERVACIONES</h2>
            <div class="form26">
                <div class="box42">
                    <div>
                        <label>Observaciones:</label>
                        <textarea id="observaciones" readonly></textarea>
                    </div>
                </div>
            </div>


            <h2 id="lentesPrueba">LENTES DE PRUEBA</h2>
            <div class="form4">
                <table>
                    <tr>
                        <td style="visibility:collapse;"></td>
                        <td>CB</td>
                        <td>PODER</td>
                        <td>DIÁMETRO</td>
                        <td>DISEÑO CA</td>
                        <td>DISEÑO CP</td>
                        <td>MATERIAL</td>

                    </tr>
                    <tr>
                        <td>LENTE O.D</td>
                        <td><input id="curvaBaseOD" readonly></td>
                        <td><input id="poderOD" readonly></td>
                        <td><input id="diametroOD" readonly></td>
                        <td><input id="diseñoCAOD" readonly></td>
                        <td><input id="diseñoCPOD" readonly></td>
                        <td><input id="materialOD" readonly></td>
                    </tr>
                    <tr>
                        <td>LENTE O.I</td>
                        <td><input id="curvaBaseOI" readonly></td>
                        <td><input id="poderOI" readonly></td>
                        <td><input id="diametroOI" readonly></td>
                        <td><input id="diseñoCAOI" readonly></td>
                        <td><input id="diseñoCPOI" readonly></td>
                        <td><input id="materialOI" readonly></td>
                    </tr>
                </table>
            </div>


            <div class="refraccionSubjetivo">
                <h2 id="sobreRefraccion">SOBRE-REFRACCIÓN</h2>
                <h2 id="sobreSubjetivo">SOBRE-SUBJETIVO</h2>
                <div class="form121">
                    <div class="box291">
                        <div>
                            <label>O.D.</label>
                            <input type="text" id="refraccionOD" readonly>
                            <label class="label">A.V.</label>
                            <input type="text" id="refraccionAVOD" readonly>
                        </div>
                        <div>
                            <label>O.I.&nbsp</label>
                            <input type="text" id="refraccionOI" readonly>
                            <label class="label">A.V.</label>
                            <input type="text" id="refraccionAVOI" readonly>
                        </div>
                    </div>
                </div>

                <div class="form121">
                    <div class="box291">
                        <div>
                            <label>O.D.</label>
                            <input type="text" id="subjetivoOD" readonly>
                            <label class="label">A.V.</label>
                            <input type="text" id="subjetivoAVOD" readonly>
                        </div>
                        <div>
                            <label>O.I.&nbsp</label>
                            <input type="text" id="subjetivoOI" readonly>
                            <label class="label">A.V.</label>
                            <input type="text" id="subjetivoAVOI" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <h2 id="fluorograma">FLUOROGRAMA</h2>
            <div class="form12">
                <div class="box51">
                    <div>
                        <img src="/assets/image/1Fluograma.png">
                    </div>
                    <div>
                        <img src="/assets/image/2Fluograma.png">
                    </div>
                </div>

                <div>
                    <label>Observaciones: </label>
                    <textarea id="observacionesFluorograma" readonly></textarea>
                </div>
            </div>

            <h2 id="lenteSolicitar">LENTE A SOLICITAR</h2>
            <div class="form12">
                <table>
                    <tr>
                        <td style="visibility:collapse;"></td>
                        <td>CURVA BASE</td>
                        <td>PODER</td>
                        <td>DIÁMETRO</td>
                        <td>DISEÑO CA</td>
                        <td>DISEÑO CP</td>
                        <td>MATERIAL</td>

                    </tr>
                    <tr>
                        <td>LENTE OD</td>
                        <td><input id="curvaBaseOD2" readonly></td>
                        <td><input id="poderOD2" readonly></td>
                        <td><input id="diametroOD2" readonly></td>
                        <td><input id="diseñoCAOD2" readonly></td>
                        <td><input id="diseñoCPOD2" readonly></td>
                        <td><input id="materialOD2" readonly></td>
                    </tr>
                    <tr>
                        <td>LENTE OI</td>
                        <td><input id="curvaBaseOI2" readonly></td>
                        <td><input id="poderOI2" readonly></td>
                        <td><input id="diametroOI2" readonly></td>
                        <td><input id="diseñoCAOI2" readonly></td>
                        <td><input id="diseñoCPOI2" readonly></td>
                        <td><input id="materialOI2" readonly></td>
                    </tr>
                </table>
                <div class="box50">
                    <div>
                        <label>Horario de uso: </label>
                        <input id="horarioUso" readonly>
                        <label>Líquidos recomendados: </label>
                        <input id="liquidosRecomendados" readonly>
                    </div>
                    <div>
                        <label>Observaciones adicionales: </label>
                        <input id="observacionesAdicionales" readonly>
                    </div>
                    <div>
                        <label>Conducta: </label>
                        <input id="conducta" readonly>
                    </div>
                </div>
            </div>


            <h2 id="control">CONTROL</h2>
            <div class="form26">
                <div class="box42">
                    <div>
                        <label>Control:</label>
                        <textarea id="controlDB" readonly></textarea>
                    </div>
                    <div>
                        <label>Hora salida:</label>
                        <input type="time" id="horaSalida" readonly>
                    </div>
                    <div class="box42_sub1">
                        <label>Estudiante:</label>
                        <input type="text" id="estudiante" readonly>
                        <label style="margin-left: 5%;">Profesor:</label>
                        <select id="profesor" disabled>
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                    <div class="box42_sub1">
                        <label>No. Factura:</label>
                        <input type="text" id="noFactura" readonly>
                        <label style="margin-left: 5%;">Valor Consulta:</label>
                        <input type="text" id="valorFactura" style="width: 30%;" readonly>
                    </div>
                </div>
            </div>

            <button id="send">Volver al menú principal</button>

        </div>
    </section>
    <script src="/controller/clinicHistoryLentes/viewClinicHistoryLentes.js" type="module"></script>
</body>

</html>