<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
        integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/styles/recoveryPassword/recoveryPassword.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Recuperar contraseña</title>
</head>

<body>
    <div class="wrapper">
        <div class="login-text">
            <button class="cta"><i class="fas fa-chevron-down fa-1x"></i></button>
            <div class="text">
                <a style="font-size: 6vh;">Digita tu correo institucional</a>
                <hr>
                <br>
                <input type="email" placeholder="Correo" id="email">
                <br>
                <button class="login-btn" id="recovery">Enviar correo</button>
            </div>
        </div>
        <div class="call-text">
            <h1>Restablece tu contraseña.</h1>
        </div>

    </div>
    <script src="/controller/recoveryPassword/recoveryPassword.js" type="module"></script>
</body>

</html>