<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/estadisticas/estadisticas.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Estadísticas</title>
</head>

<body>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</body>

    <script src="/controller/estadisticas/estadisticas.js" type="module"></script>
</html>