<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/selectCertificate/selectCertificate.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Selecciona uno</title>
</head>

<body>
    <a href="/views/certificates/prescripcionOptica.html">
        <div class="card">
            <div class="card-image"></div>
            <div class="card-text">
                <span class="date">Opción 1</span>
                <h2>Prescripción óptica de uso oftálmico</h2>
                <p>La prescripción óptica de uso oftálmico se refiere a la receta emitida por un profesional de la salud
                    visual, como un optometrista o oftalmólogo, para corregir problemas de visión.</p>
            </div>
            <div class="card-stats">

            </div>
        </div>
    </a>
    <a href="/views/certificates/prescripcionMedicamentos.html">
        <div class="card">
            <div class="card-image card2"></div>
            <div class="card-text card2">
                <span class="date">Opción 2</span>
                <h2>Prescripción de medicamentos</h2>
                <p>
                    La prescripción de medicamentos de uso oftálmico se refiere a la orden escrita de un profesional de
                    la salud, como un oftalmólogo, optometrista u otro médico, para el suministro de medicamentos
                    destinados al tratamiento de afecciones oculares.</p>
            </div>
            <div class="card-stats card2">
            </div>
        </div>
    </a>
    <a href="/views/certificates/remision.html">
        <div class="card">
            <div class="card-image card3"></div>
            <div class="card-text card3">
                <span class="date">Opción 3</span>
                <h2>Remisión</h2>
                <p>En oftalmología, la remisión se refiere al acto de enviar a un paciente a otro profesional de la
                    salud, generalmente un especialista oftalmólogo, para una evaluación o tratamiento más
                    especializado. </p>
            </div>
            <div class="card-stats card3">
            </div>
        </div>
    </a>
    <script type="module" src="/controller/selectCertificate/selectCertificate.js"></script>
</body>

</html>