<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/selectClinicHistory/selectClinicHistory.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Selecciona una</title>
</head>

<body>
    <a href="/views/clinicHistory/clinicHistory.html">
        <div class="card">
            <div class="card-image"></div>
            <div class="card-text">
                <span class="date">Opción 1</span>
                <h2>Historia clínica de refracción</h2>
                <p>La historia clínica de refracción es un registro médico que recopila información detallada sobre la
                    salud ocular y la capacidad visual de un paciente. </p>
            </div>
            <div class="card-stats">

            </div>
        </div>
    </a>
    <a href="/views/clinicHistoryLentes/clinicHistoryLentes.html">
        <div class="card">
            <div class="card-image card2"></div>
            <div class="card-text card2">
                <span class="date">Opción 2</span>
                <h2>Historia clínica de lentes</h2>
                <p>La historia clínica de lentes de contacto es un registro médico que recoge información detallada
                    sobre la
                    adaptación y el uso de lentes de contacto por parte de un paciente.</p>
            </div>
            <div class="card-stats card2">
            </div>
        </div>
    </a>
    <a href="/views/clinicHistoryOrtoptica/clinicHistoryOrtoptica.html">
        <div class="card">
            <div class="card-image card3"></div>
            <div class="card-text card3">
                <span class="date">Opción 3</span>
                <h2>Historia clínica de ortóptica</h2>
                <p>La historia clínica de ortóptica es un documento médico que recopila información detallada sobre la
                    evaluación y el tratamiento de trastornos visuales y problemas de alineación ocular, realizados por
                    un
                    ortoptista. </p>
            </div>
            <div class="card-stats card3">
            </div>
        </div>
    </a>
    <a href="/views/clinicHistoryEvolucion/clinicHistoryEvolucion.html">
        <div class="card">
            <div class="card-image card4"></div>
            <div class="card-text card4">
                <span class="date card4">Opción 4</span>
                <h2>Evolución</h2>
                <p>
                    En oftalmología, el término "evolución" se refiere al seguimiento y desarrollo de la condición
                    ocular de un paciente a lo largo del tiempo. </p>
            </div>
            <div class="card-stats card4">

            </div>
        </div>
    </a>
    <script src="/controller/selectClinicHistory/selectClinicHistory.js" type="module"></script>
</body>

</html>