<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/rips/rips.css">
    <title>RIPS</title>
</head>
<body>
    <head>
        <h1>MANEJO DE RIPS</h1>
    </head>

    <div class="busqueda">
        <input type="text" placeholder="Buscar" id="buscador">
    </div>
    
    <table id="data">
        <tr>
            <td>Fecha De <br>Atención</td>
            <td>Documento De <br>Identificación</td>
            <td>Apellidos</td>
            <td>Nombres</td>
            <td>Edad</td>
            <td>Sexo</td>
            <td>Código <br>Localidad</td>
            <td>Código <br>Diagnóstico</td>
            <td>No. Factura</td>
            <td>Valor Consulta</td>
            <td>Hora <br>Consulta</td>
            <td>Hora Salida</td>
            <td>Estudiante Que Diligencío <br>La Información</td>
        </tr>
    </table>
    <script src="/controller/rips/rips.js" type="module"></script>
</body>
</html>